.navbar__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3% 5% 3% 5%;
}

.logo {
    border: 1px solid grey;
    border-radius: 100%;
    max-width: 22%;
}

.navbar__button {
    justify-self: end;
}

.navbar__button i {
    color: grey;
    font-size: 2.5em;
}